<div
  {{! style='max-height:800px;' }}
  class='nex-modal w-5/6 max-h-[800px] fixed z-10 overflow-auto top-20 left-40 border-2 border-nex bg-white m-auto p-2 rounded drop-shadow-2xl'
>
  <div>
    <h2 class='text-2xl text-nex font-bold'>Attributes</h2>
    <button class='absolute right-4 top-2 close-nex-modal'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        class='h-8 w-8'
        fill='none'
        viewBox='0 0 24 24'
        stroke='currentColor'
        stroke-width='2'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M6 18L18 6M6 6l12 12'
        ></path>
      </svg>
    </button>
  </div>

  <section class='m-2'>
    {{! Text input }}
    <div class='mx-auto'>

      {{! <h3 class='border p-1 inline-block rounded-md relative inset-x-2/4'>Choose
        type</h3> }}
      {{! buttons }}
      <div
        class='text-base space-x-4 drop-shadow-md overflow-auto flex items-center justify-items-center border rounded border-gray-400 p-3 my-4 mx-auto'
      >
        <button
          class='w-28 h-28 m-2 border-2 p-2 hover:bg-gray-200 rounded-md text-button'
          onclick='chooseInputType("text")'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-10 w-10 m-auto mb-2'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
            stroke-width='1'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z'
            ></path>
          </svg>
          <span class='mx-auto'>Text input</span>
        </button>

        <button
          class='w-28 h-28 m-2 border-2 p-2 hover:bg-gray-200 rounded-md number-button'
          onclick='chooseInputType("number")'
        ><svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-10 w-10 m-auto mb-2'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
            stroke-width='1'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M9 7h6m0 10v-3m-3 3h.01M9 17h.01M9 14h.01M12 14h.01M15 11h.01M12 11h.01M9 11h.01M7 21h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2z'
            ></path>
          </svg>
          <span class='mx-auto'>Number</span>
        </button>

        <button
          class='w-28 h-28 m-2 border-2 p-2 hover:bg-gray-200 rounded-md date-button'
          onclick='chooseInputType("date")'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-10 w-10 m-auto mb-2'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
            stroke-width='1'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z'
            ></path>
          </svg>
          <span class='mx-auto'>Date</span>
        </button>

        <button
          class='w-28 h-28 m-2 border-2 p-2 hover:bg-gray-200 rounded-md datetime-button'
          onclick='chooseInputType("datetime")'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-10 w-10 m-auto mb-2'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
            stroke-width='1'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z'
            ></path>
          </svg>
          <span class='mx-auto'>Datetime</span>
        </button>

        <button
          class='w-28 h-28 m-2 border-2 p-2 hover:bg-gray-200 rounded-md email-button'
          onclick='chooseInputType("email")'
        ><svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-10 w-10 m-auto mb-2'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
            stroke-width='1'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207'
            ></path>
          </svg>
          <span class='mx-auto'>Email</span>
        </button>

        <button
          class='w-32 h-28 m-2 border-2 p-2 hover:bg-gray-200 rounded-md textarea-button'
          onclick='chooseInputType("textarea")'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-10 w-10 m-auto mb-2'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
            stroke-width='1'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z'
            ></path>
          </svg>
          <span class='mx-auto'>Textarea</span>
        </button>
        <button
          class='w-32 h-28 m-2 border-2 p-2 hover:bg-gray-200 rounded-md switch-button'
          onclick='chooseInputType("switch")'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-10 w-10 m-auto mb-2'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
            stroke-width='1'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M5 13l4 4L19 7'
            ></path>
          </svg>
          Switch (Y/N)
        </button>
        <button
          class='w-28 h-28 m-2 border-2 p-2 hover:bg-gray-200 rounded-md images-button'
          onclick='chooseInputType("images")'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-10 w-10 m-auto mb-2'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
            stroke-width='1'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z'
            ></path>
          </svg>
          <span class='mx-auto'>Images</span>
        </button>
        <button
          class='w-40 h-28 m-2 border-2 p-2 hover:bg-gray-200 rounded-md check-boxes-button'
          onclick='chooseInputType("check-boxes")'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-10 w-10 m-auto mb-2'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
            stroke-width='1'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z'
            ></path>
          </svg>
          <span class='mx-auto'>Check boxes</span>
        </button>
        <button
          class='w-40 h-28 m-2 border-2 p-2 hover:bg-gray-200 rounded-md radio-buttons-button'
          onclick='chooseInputType("radio-buttons")'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-10 w-10 m-auto mb-2'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
            stroke-width='1'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z'
            ></path>
          </svg>
          <span class='mx-auto'>Radio buttons</span>
        </button>

        <button
          class='w-40 h-28 m-2 border-2 p-2 hover:bg-gray-200 rounded-md single-select-button'
          onclick='chooseInputType("single-select")'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-10 w-10 m-auto mb-2'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
            stroke-width='1'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M4 6h16M4 12h16m-7 6h7'
            ></path>
          </svg>
          <span class='mx-auto'>Single select</span>
        </button>

        <button
          class='w-40 h-28 m-2 border-2 p-2 hover:bg-gray-200 rounded-md multiple-select-button'
          onclick='chooseInputType("multiple-select")'
        ><svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-10 w-10 m-auto mb-2'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
            stroke-width='1'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M4 6h16M4 10h16M4 14h16M4 18h16'
            ></path>
          </svg>
          <span class='mx-auto'>Multiple select</span>
        </button>

      </div>
    </div>

    <div>
      <form
        action='/attributes'
        method='post'
        class='flex w-100 space-x-4 attrs'
      >
        <input type='hidden' name='type' value='' class='button-type' />
        <div class='w-1/2'>
          <h3
            class='text-2xl mb-6 p-1 border-b border-nex pb-3 text-nex'
          >Properties</h3>

          <div class='my-3 flex align-items' id='name_control'>
            <label
              id='name_label'
              for='attr_name'
              class='mx-2 w-1/4 py-2'
            >Name<span class=''>*</span>
            </label>
            <input
              id='attr_name'
              type='text'
              name='attr_name'
              required
              class='h-12 px-2 border border-gray-400 rounded w-80'
            />
          </div>

          <div class='my-3 flex align-items' id='description_control'>
            <label
              id='description_label'
              for='attr_description'
              class='mx-2 w-1/4 py-2'
            >Description
            </label>
            <input
              id='attr_description'
              type='text'
              name='attr_description'
              class='h-12 px-2 border border-gray-400 rounded w-80'
            />
          </div>

          <h3
            class='text-2xl mb-6 p-1 border-b border-nex pb-3 text-nex field-options'
          >Field options</h3>

          <div class='mx-2' id='required_control'>
            <input
              type='checkbox'
              checked='checked'
              name='required'
              class='w-6 h-6'
            />
            <label for='required' class='mx-2 relative bottom-1'>Required field</label>
          </div>

          <div class='my-3 flex align-items f-control' id='default_control'>
            <label
              id='default_label'
              for='default'
              class='mx-2 w-1/4 py-2'
            >Default value
            </label>
            <input
              id='default'
              type='text'
              name='default'
              class='h-12 px-2 border border-gray-400 rounded w-80'
            />
          </div>

          <div
            class='my-3 flex align-items f-control'
            id='default_area_control'
          >
            <label
              id='default_area_label'
              for='default_area'
              class='mx-2 w-1/4 py-2'
            >Default text
            </label>
            <textarea
              id='default_area'
              type='text'
              rows='2'
              name='default_area'
              class='p-2 border border-gray-400 rounded w-80'
            ></textarea>
          </div>

          <div class='my-3 flex align-items f-control' id='minimum_control'>
            <label
              id='minimum_label'
              for='minimum'
              class='mx-2 w-1/4 py-2'
            >Minimum value</label>
            <input
              id='minimum'
              type='number'
              name='minimum'
              class='h-12 px-2 border border-gray-400 rounded w-80'
            />
          </div>
          <div class='w-100 mx-12 block text-red-500 text-sm minimum-err'></div>
          <div class='my-3 flex align-items f-control' id='maximum_control'>
            <label
              id='maximum_label'
              for='maximum'
              class='mx-2 w-1/4 py-2'
            >Maximum value</label>
            <input
              type='number'
              name='maximum'
              id='maximum'
              class='h-12 px-2 border border-gray-400 rounded w-80'
            />
          </div>

          <div class='my-3 flex align-items f-control' id='unit_control'>
            <label id='unit_label' for='unit' class='mx-2 w-1/4 py-2'>Suffix
              (units)</label>
            <input
              id='unit'
              type='text'
              name='unit'
              class='h-12 px-2 border border-gray-400 rounded w-80'
            />
          </div>

          <div class='my-3 flex align-items f-control' id='options_control'>
            <label
              id='options_label'
              for='options'
              class='mx-2 w-1/4 py-2'
            >Options
              <span class='text-sm text-gray-500 block my-2'>Each line for
                option</span></label>

            <textarea
              name='options'
              id='options'
              rows='5'
              class='p-2 border border-gray-400 rounded w-80'
            ></textarea>
          </div>
        </div>

        <div class='w-1/2 border-l pl-4'>
          <h3 class='text-2xl mb-6 p-1 border-b border-nex pb-3 text-nex'>Local
            labels</h3>

          {{#each locals}}
            <div class='my-3 flex align-middle'>
              <label
                for='{{this.abbreviation}}_label'
                class='mx-2 w-1/4 py-2'
              >{{this.language}}
                label
                <span
                  class='text-sm text-gray-500 inline-block'
                >({{this.abbreviation}})</span></label>
              <input
                lang='{{this.abbreviation}}'
                dir='{{this.direction}}'
                type='text'
                name='{{this.abbreviation}}_label'
                class='h-12 px-2 border border-gray-400 rounded w-80'
              />
            </div>
          {{/each}}
          <h3
            class='text-2xl mb-6 p-1 border-b border-nex pb-3 text-nex'
          >Groups</h3>
          <div class='my-3 flex align-items'>
            <label
              id='groups_label'
              for='options'
              class='mx-2 w-1/4 py-2'
            >Attribute group(s)
              <span class='text-sm text-gray-500 block my-2'>Shift key for
                multiple select</span>
            </label>

            <select
              multiple
              id='options'
              name='options'
              size='6'
              class='px-2 border border-gray-400 rounded w-80 appearance-nonebg-white p-2 mb-8'
            >
              <option value='' class='my-1'>Group 1</option>
              <option value='' class='my-1'>Group 2</option>
              <option value='' class='my-1'>Group 3</option>
              <option value='' class='my-1'>Group 4</option>
              <option value='' class='my-1'>Group 5</option>
              <option value='' class='my-1'>Group 6</option>
              <option value='' class='my-1'>Group 7</option>
              <option value='' class='my-1'>Group 8</option>
              <option value='' class='my-1'>Group 9</option>
              <option value='' class='my-1'>Group 10</option>
            </select>

          </div>

          <div class='flex align-end justify-center h-100 w-100 mt-4 re'>
            <button
              class='bg-nex px-3 py-2 text-white rounded-md w-48 h-12 hover:opacity-80 attr-button'
            >Save Attribute</button>
          </div>
        </div>
      </form>
    </div>
  </section>

</div>