<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />

    <link rel='stylesheet' href='/css/style.css' />
    <title>NEX Content | {{title}}</title>
  </head>
  <body>
    <div class='flex h-full'>
      <div
        class='w-[6rem] bg-nex h-full flex flex-col text-white text-center pb-6 shrink-0'
      >
        {{! Logo }}
        <a href='/'>
          <img class='object-contain mt-4' src='/img/nex.png' />
          <h5 class='mt-2 mb-6 text-xl relative right-1'>Content</h5>
        </a>

        {{! first menu }}
        <div class='bg-nex flex flex-col text-white text-center shrink-0'>
          {{! Catalog }}
          <a
            class='mt-6 border-l-4 border-nex hover:border-l-4 hover:border-white cursor-pointer box-border'
            href='/'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-10 w-10 mx-auto my-2'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
              stroke-width='1'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10'
              ></path>
            </svg>
            Attributes
          </a>

          {{! Products }}
          <a
            class='mt-6 border-l-4 border-nex hover:border-l-4 hover:border-white cursor-pointer box-border'
            href='#'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-10 w-10 mx-auto my-2'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
              stroke-width='1'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01'
              ></path>
            </svg>
            Products
          </a>

          <a
            class='mt-6 border-l-4 border-nex hover:border-l-4 hover:border-white cursor-pointer box-border'
            href='#'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-10 w-10 mx-auto my-2'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
              stroke-width='1'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z'
              ></path>
            </svg>
            Users
          </a>

          <a
            class='mt-6 border-l-4 border-nex hover:border-l-4 hover:border-white cursor-pointer box-border'
            href='#'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-10 w-10 mx-auto my-2'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
              stroke-width='1'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z'
              ></path>
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M15 12a3 3 0 11-6 0 3 3 0 016 0z'
              ></path>
            </svg>
            Settings
          </a>
        </div>
      </div>
      {{! second menu }}
      {{! catalog }}
      <div
        class='w-[22rem] shrink-0 h-full flex flex-col text-left bg-gray-200 px-12 py-8 border-l-2 border-r-2 border-gray-200'
      >
        <h2 class='text-xl text-gray-400 my-4'>ATTRIBUTES</h2>
        <ul class='text-gray-700 text-xl'>
          <li class='my-4'>
            <a href='/attributes'>Attributes</a>
          </li>
          <li class='my-4'>
            <a href=''>Attributes groups</a>
          </li>
        </ul>
      </div>
      <div class='w-full'>
        {{! navbar }}
        <div
          class='h-[4rem] text-nex flex flex-row-reverse items-center space-x-3 bg-white border-b-2 border-gray-200'
        >
          {{! user }}
          <form
            action='/logout'
            method='post'
            class='hover:bg-gray-200 mx-4 cursor-pointer p-1'
          >
            <button type='submit' class='mx-auto px-4'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                class='h-8 w-8 m-auto mt-4'
                fill='none'
                viewBox='0 0 24 24'
                stroke='currentColor'
                stroke-width='2'
              >
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  d='M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1'
                ></path>
              </svg>
              <span class='text-sm'>Logout</span>
            </button>
          </form>
          <p class='mx-2'>{{user.firstname}}</p>

        </div>
        <div class='p-8 w-100 text-xl'>
          <div class='flex justify-between mb-8'>
            {{#if title}}
              <h2 class='text-3xl text-nex'>{{title}}</h2>
            {{/if}}
            {{#if button}}
              <button
                class='bg-nex text-white rounded-md py-2 px-3 justify-self-end hover:opacity-90
                  {{buttonClass}}'
              >{{button}}
              </button>
            {{/if}}
          </div>
          {{{body}}}
        </div>
      </div>
    </div>
    <script type='text/javascript' src='/js/jquery.min.js'></script>
    <script type='text/javascript' src='/js/script.js'></script>

  </body>
</html>