<div class='nex-modal-edit-group absolute top-10 z-10 pb-8 w-1/2 max-h-[725px]
overflow-auto border-2 border-nex bg-white p-4 rounded drop-shadow-2xl
shadow-2xl <%= typeof redirector !== 'undefined' && redirector == 'group' ?
'block' : 'hidden' %> ' >
<div class="my-3">
  <h2 class="text-2xl text-nex font-bold">Groups</h2>
  <button class="absolute right-4 top-4" id="close-nex-modal-group">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-8 w-8"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18L18 6M6 6l12 12"
      ></path>
    </svg>
  </button>
</div>

<%- include('../partials/errs'); %>
<form action="/groups/<%= group.id %>/edit" method="post" class="flex space-x-4 groups-form">

  <div class="flex flex-col w-100 align-middle">
    <div class="mt-5" id="name_control">
      <label id="name_label" for="group_name" class="mx-4 w-24 py-2"
        >Name<span class="">*</span>
      </label>
      <input id='group_name' type='text' name='name' required autofocus
      class='h-12 px-2 border border-gray-400 rounded w-1/2' minlength="2"
      value='<%= typeof locals.old !== 'undefined' ? locals.old.name :
      group.name %>' />
    </div>

    <div class="my-5 flex align-items" id="description_control">
      <label
        id="description_label"
        for="group_description"
        class="mx-4 w-24 py-2"
        >Description
      </label>
      <input id='group_description' type='text' name='description' class=' h-12
      px-2 border border-gray-400 rounded w-1/2' minlength="2" value='<%= typeof
      locals.old !== 'undefined' ? locals.old.description : group.description
      %>' />
    </div>
    <div class="my-3">
      <h3 class="text-2xl mb-4 p-1 border-b border-nex pb-3 text-nex">
        Attributes
      </h3>
      <div class="mx-auto text-center">
        <div class="my-3 ml-28 text-left">
          <select
            data-placeholder="Choose attributes..."
            class="chosen-select"
            multiple
            id="attributes"
            name="attributes[]"
          >
            <% all_attributes.forEach(attribute => { %>
            <option value="<%= attribute.id %>"
              <% 
              if (typeof locals.old !== 'undefined' && typeof locals.old.attributes !== 'undefined' && locals.old.attributes.includes(attribute.id)) { 
              %>
              <%= ' selected ' %> 
              <% } else if (typeof group_attrs_ids !== 'undefined' && group_attrs_ids.includes(attribute.id)) { %>
                <%= ' selected ' %> 
              <% } %>
            >
            <%= attribute.name %> 
            </option>
            <% }) %>
          </select>
        </div>
      </div>
    </div>
    <div class="flex justify-end mx-5 px-5">
      <button
        type="submit"
        class="mt-5 bg-nex px-3 py-1 text-white rounded-md w-48 h-12 hover:opacity-80"
      >
        Update Group
      </button>
    </div>
  </div>
</form>
