<%- include('../partials/header'); %>
<!-- show attribute details -->
<div class="show-page">
  <table
    id="item-show "
    class="w-1/2 mx-auto shadow show-table text-center -collapse rounded"
  >
    <tbody>
      <tr>
        <td class="show-key border border-nex">ID</td>
        <td class="show-value border border-nex"><%= attribute.id %></td>
      </tr>
      <tr>
        <td class="show-key border border-nex">Name</td>
        <td class="show-value border border-nex"><%= attribute.name %></td>
      </tr>
      <tr>
        <td class="show-key border border-nex">Type</td>
        <td class="show-value border border-nex"><%= attribute.type %></td>
      </tr>
      <tr>
        <td class="show-key border border-nex">Slug</td>
        <td class="show-value border border-nex"><%= attribute.slug %></td>
      </tr>
      <tr>
        <td class="show-key border border-nex">Required</td>
        <td class="show-value border border-nex">
          <%= attribute.required ? 'Yes' : 'No' %>
        </td>
      </tr>

      <!-- Description -->
      <tr>
        <td class="show-key border border-nex">Description</td>
        <td class="show-value border border-nex">
          <%= attribute.description || '-' %>
        </td>
      </tr>

      <!-- Default value -->
      <% if ([ 'text', 'number', 'email'].includes(attribute.type)) { %>
      <tr>
        <td class="show-key border border-nex">
          Default <%= attribute.type.slice(0,1).toUpperCase() +
          attribute.type.slice(1) %> Value
        </td>
        <td class="show-value border border-nex">
          <%= attribute.default_value || '-' %>
        </td>
      </tr>
      <% } %>

      <!-- Default area -->
      <% if ([ 'textarea'].includes(attribute.type)) { %>
      <tr>
        <td class="show-key border border-nex">Default Text Area Value</td>
        <td class="show-value border border-nex">
          <%= attribute.default_area || '-' %>
        </td>
      </tr>
      <% } %>

      <!-- Min -->
      <% if (attribute.min) { %>
      <tr>
        <td class="show-key border border-nex">Description</td>
        <td class="show-value border border-nex"><%= attribute.min %></td>
      </tr>
      <% } %>

      <!-- Max -->
      <% if (attribute.max) { %>
      <tr>
        <td class="show-key border border-nex">Description</td>
        <td class="show-value border border-nex"><%= attribute.max %></td>
      </tr>
      <% } %>

      <!-- Unit -->
      <% if ([ 'text', 'number'].includes(attribute.type)) { %>
      <tr>
        <td class="show-key border border-nex">Suffix (Unit)</td>
        <td class="show-value border border-nex">
          <%= attribute.unit || '-' %>
        </td>
      </tr>
      <% } %>

      <tr>
        <td class="show-key border border-nex">Created At</td>
        <td class="show-value border border-nex">
          <%= moment(attribute.created_at).format('DD-MM-YYYY h:mm A') %>
        </td>
      </tr>

      <tr>
        <td class="show-key border border-nex">Updated_at</td>
        <td class="show-value border border-nex">
          <%= moment(attribute.created_at).format('DD-MM-YYYY h:mm A') %>
        </td>
      </tr>

      <tr>
        <td class="show-key border border-nex">Labels</td>
        <td class="show-value border border-nex">
          <% Object.keys(remapped_labels).forEach(key => { %>
          <p class="p-1 m-1 border bg-gray-100">
            <strong class="text-nex"> <%= key %> : </strong><%=
            remapped_labels[key] %> <% }) %>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="w-1/2 mx-auto text-center">
    <h2 class="p-1 bg-nex text-white font-bold">Groups</h2>
    <div class="border border-nex p-5">
      <% if (attr_groups.length > 0) { %> <% attr_groups.forEach(group => { %>
      <a
        href="groups/<%= group.id %> "
        class="rounded bg-nex m-1 p-1 px-2 text-white text-sm"
      >
        <%= group.name %></a
      >
      <% }) %> <% } else { %> No data <% } %>
    </div>
  </div>
  <% if ([ 'single-select', 'multiple-select', 'radio-buttons',
  'check-boxes'].includes(attribute.type)) { %>

  <div class="w-1/2 mx-auto text-center">
    <h2 class="p-1 bg-nex text-white font-bold">Choices</h2>
    <div class="show-value border border-nex p-5">
      <% if (choices.length > 0) { %> <% choices.forEach(choice => { %>
      <p class="rounded-lg border m-1 p-1 bg-gray-100 text-md"><%= choice %></p>
      <% }) %> <% } else { %> No data <% } %>
    </div>
  </div>
  <% } %>
  <div class="w-1/2 mx-auto text-center flex justify-between p-3">
    <button
      class="edit-attr rounded-lg border m-1 p-1 px-3 text-sm bg-nex text-white h-8"
    >
      Edit
    </button>
    <form action="/attributes/<%= attribute.id %>/delete" method="post">
      <button
        type="submit"
        class="rounded-lg border m-1 p-1 px-3 text-sm bg-red-500 text-white h-8"
        onclick="return confirm('Are you sure?')"
      >
        Delete
      </button>
    </form>
  </div>
</div>
<%- include('../partials/footer'); %>
